body {
    background-color: black;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

nav {
    margin-top: 20px;
    font-size: 20px;
    font-family: "Cinzel"
};

@font-face {
    font-family: 'Cinzel';
    src: url('~@/assets/fonts/Cinzel-VariableFont_wght.ttf') format('truetype');
  }